<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div id="The Naked Gun: From the Files of Police Squad!" class="post-container">
                <h1 class="title">The Naked Gun: From the Files of Police Squad!</h1>
                <h2 class="director">David Zucker</h2>
                <div class="post-content-container">
                    <img src="https://m.media-amazon.com/images/M/MV5BODk1ZWM4ZjItMjFhZi00MDMxLTgxNmYtODFhNWZlZTkwM2UwXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" alt="Movie poster" class="poster-img">
                    <p class="small-text">Cast: Leslie Nielsen, Priscilla Presley, O.J. Simpson <br><br> Released: 02 Dec 1988 <br><br> Runtime: 85 min br Rating: 7.6 <br><br> Movie Plot: Incompetent police Detective Frank Drebin must foil an attempt to assassinate Queen Elizabeth II.</p> 
                    <button value="tt0095705" id="button_create-tt0095705">Add to watch list</button>
                    <button value="tt0095705" id="button_delete-tt0095705">Remove from watchlist</button>

                </div>
                
            

        </div>

    
    
        <div id="Police Academy: Mission to Moscow" class="post-container">
                <h1 class="title">Police Academy: Mission to Moscow</h1>
                <h2 class="director">Alan Metter</h2>
                <img src="https://m.media-amazon.com/images/M/MV5BNmM5MzA3YTMtZDZkNy00YzNlLWFkZTUtZDJhYTNkMzk1ODNlL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" alt="Movie poster" class="poster-img">
                <p class="small-text">Cast: G.W. Bailey, George Gaynes, Michael Winslow Released: 26 Aug 1994 Runtime: 83 min Rating: 3.4</p> 
                <p class="plot-text">The Russian government hires the veterans of the Police Academy (1984) to help deal with the Mafia.</p>

        </div>
        <button value="tt0110857" id="button_create-tt0110857">Add to watch list</button><button value="tt0110857" id="button_delete-tt0110857">Remove from watchlist</button>

    </div>




</body>
</html>